/* ------------ The Side Menu -----------*/
#navwrap {
	float:left;
	font-size: 14px;
	color:white;
	width:130px;
	height:20px;
	background-color: #002855;
	padding: 0;
	z-index: 4;
}
#navwrap ul {
	list-style:none;margin:0; 
	font-weight:normal;
	color:white;
	width:130px;
	height:20px;
	background-color: #002855;
	padding: 0;
}

#navwrap li {}
	#navwrap li a {
		/*font-size:9px;*/
		padding-top:10px;
		padding-left:5px;
		padding-bottom:5px;
		height:100%;
		text-decoration:none;
		color: white;
		font-weight: bold;
	}
	#navwrap li a:hover {
		text-decoration:underline;
		color: black;
	}
/* Top Menu Home About Contact */
#navwrap li.company {
	padding-top:5px;
	padding-bottom:5px;
	height:100%;
	text-decoration:none;
	color:black;
	font-weight:bold;
	}
	#navwrap li.company a {
		letter-spacing: 2px;
		padding-top:10px;
		padding-bottom:5px;
		height:100%;
		padding-left:13px;
		text-decoration:none;
		color:black;
	}
	#navwrap li.company a:hover {
		text-decoration:none;
		color:red;
	}
	
/* Pages */
.pagemenu { }
	
/* Categories */
#navwrap li.menu-item a {
	text-align:left;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:5px;
	display:block;
	height:100%;
	text-decoration:none;
	color:white;
	background-color: #002855;
	letter-spacing: 2px;
	border-bottom:3px solid #C99700;
	}

	#navwrap ul.sub-menu li.menu-item a {
		padding-top:10px;
		padding-left:40px;
		padding-bottom:5px;
		display:block;
		height:100%;
		font-style:italic;
		text-decoration:none;
		color:white;
		background-color: #002855; 
		letter-spacing: 2px;
		border-bottom:3px solid #C99700;
	}

	#navwrap li.menu-item a:hover {text-decoration:none;color:black;background:#1EC9E8;}
	#navwrap ul.sub-menu li.menu-item a:hover {text-decoration:none;color:black;background:#1EC9E8;}
	#navwrap li.current-menu-item a:hover {text-decoration:none;color:black; background: #1EC9E8;}


	.menu-item ul.sub-menu {}
	.current-menu-item ul.sub-menu li.menu-item {display:inline;font-weight:normal; }
	.current-menu-item-parent ul.sub-menu li.menu-item {display:inline; }
	.current-menu-item {font-weight:bold;}
	#navwrap li.current-menu-item a , #navwrap ul.sub-menu li.current-menu-item a {text-decoration:none;color:#C99700;}

.sub-menu { display: inline; }
.sub-menu1 { display: none; }
.current_page_item .sub-menu, .current_page_parent .sub-menu { display: inline; }
