H1         { text-indent: 0em; font-size: 18pt  }
H2         { text-indent: 0em; font-size: 18pt; font-weight: bold; font-family: arial,helvetica,verdana,sans-serif }
H3         { text-indent: 0em; font-size: 14pt; font-weight: bold; font-family: arial,helvetica,verdana,sans-serif }
P	   { text-indent: 0em; font-size: 12pt;}
A:link     { text-decoration: none }
A:active   { text-decoration: none }
A:visited  { text-decoration: none } 
tt         { font-family: courier,"lucida console",serif }

ul.brk {
list-style: none;
margin-left: 0;
padding-left: 0em;
text-indent: 0em;
}

p.back {
    background-color: #E0E0E0;
    text-shadow: 0px 0px 3px #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    padding: 5px 40px 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}
div.back {
    background-color: #E0E0E0;
    text-shadow: 0px 0px 3px #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    padding: 5px 40px 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

h3.it {
    /* background-color: #D0D0E0; */
    background-color: #E0E0E0;
    font-style: italic;
    font-size: larger;
    text-shadow: 0px 0px 3px #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    padding: 5px 40px 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 0px;
    cursor: pointer;
    text-indent: -20px;
}
